<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>


<div th:fragment="page_title" class="container">
    <div th:if="${quizTitle}" class="container">
        <h1 th:text="${quizTitle}" class="h1"></h1>
        <p>Question no. <span th:text="${currentNumber}"></span></p>
    </div>
</div>

<div th:fragment="next_question_button" th:if="${result}" class="container">
    <p th:text="${result}"></p>
    <a th:href="@{/quiz}" class="btn btn-primary">Next</a>
</div>

<div th:fragment="back_to_start_button" th:if="${result}" class="container">
    <p>Done!</p>
    <a th:href="@{/index}" class="btn btn-primary">Back to main page</a>
</div>

<div th:fragment="footer" class="container">
    <br>
    <p>&copy; 2023 CGI</p>
</div>

</body>
</html>