<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>


<div th:fragment="page_title">
    <div th:if="${quizTitle}">
        <h1 th:text="${quizTitle}" class="h1"></h1>
    </div>
    <div th:unless="${quizTitle}">
        <h1 class="h1">Welcome to your learning app</h1>
        <p>Create a new test? </p>
        <h2 class="h2">Available tests</h2>
    </div>
</div>


<div th:fragment="footer" class="container justify-content-center align-items-center">
    <hr />
    <p>&copy; 2023 CGI</p>
</div>

</body>
</html>