<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset = "ISO-8859-1" />
    <link th:href="@{/style/style.css}" rel="stylesheet" />
    <title>Learn App - a Spring Boot Application</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>

</head>

<body>

    <div th:if="${quizQuestion}" class="container justify-content-center align-items-center">

        <div th:insert="~{fragments :: page_title}">...</div>

        <div class="container question">
            <p class="text-muted">Question no. <span th:text="${currentNumber}"></span></p>
            <h3 th:text="${quizQuestion.question.content}"></h3>

            <form th:action="@{/quiz/} + ${quizName}" method="post">
                <ul style="list-style: none">
                    <li th:each="answer : ${quizQuestion.possibleAnswers}">

                        <input type="radio" th:id="${answer}"  name="answerOption"  th:value="${answer}"
                               th:checked="${initialAnswer}==${answer} ? 'true' : 'false'"
                        />
                        <label th:for="${answer}" th:text="${answer}" th:classappend="${result}==${answer} ? ' validAnswer' : ''"></label>
                    </li>
                </ul>

                <button type="submit" class="btn btn-primary" th:classappend="${#strings.isEmpty(result)} ? '' : 'disabled'">Check</button>
                <a th:href="@{/quiz/} + ${quizName}" class="btn btn-primary" th:classappend="${#strings.isEmpty(result)} ? 'disabled' : ''">Next</a>
                <a th:href="@{/index}" class="btn btn-secondary">Exit</a>
            </form>
        </div>
    </div>

    <div th:unless="${quizQuestion}" class="container justify-content-center align-items-center">
        <p>Done! Your score is <span th:text="${result}"></span> / <span th:text="${currentNumber}"></span></p>
        <a th:href="@{/index}" class="btn btn-secondary">Return to the main page</a>
    </div>

    <div th:insert="~{fragments :: footer}">...</div>

</body>
</html>